{{ define "main" }}
{{ .Content }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

<div class="posts">
  {{ range .Paginator.Pages }}
    <div class="post">
      <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}</span>
      <span class="page-type">{{ .Type }}</span>
    </div>
  {{ end }}
</div>

{{ if gt $paginator.TotalPages 1 }}
<div class="pagination">
  [
  {{ if $paginator.HasNext }}
    <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Older</a>
  {{ end }}
  {{ if and $paginator.HasNext $paginator.HasPrev }}|{{ end }}
  {{ if $paginator.HasPrev }}
    <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Newer</a>
  {{ end }}
  ]
</div>
{{ end }}
{{ end }}
